.popup__input {
    width: 358px;
    margin: 0 36px 30px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    font-family: inherit;
    padding-bottom: 10px;
}
.popup__input::-webkit-input-placeholder {
    opacity: 1;
}
.popup__input::-moz-placeholder {
    opacity: 1;
}
.popup__input:-moz-placeholder {
    opacity: 1;
}
.popup__input:-ms-input-placeholder {
    opacity: 1;
}
.popup__input::placeholder {
    opacity: 1;
}
@media (max-width: 520px) {
    .popup__item {
        width: 238px;
        margin: 0 22px 30px;
    }
}
/*@media screen and (max-width: 650px) {
    .popup__input {
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        width: 238px;
    }

}*/
.popup__input-error {
    display: none;
 }
 
 .popup__input-error_visible {
     position: absolute;
     display: block;
     font-size: 12px;
     font-weight: 400;
     line-height: 15px;
     letter-spacing: 0em;
     text-align: left;
     color: #FF0000;
     margin: -25px 36px 13px;
     max-width: 358px;
     border: none;
 }
 
 @media (max-width: 520px) {
     .popup__input-error_visible {
         width: 238px;
         margin: -25px 22px 13px;
     }
 }
 .popup__input_type_error {
    border: 1px solid #FF0000;

    
} 
.popup__input:invalid {
    border: 1px solid red; /* красная рамка для некорректных данных */
  } 
  
  /*.popup__input:valid {
    border-bottom: 1px solid green; 
  }*/
  
  .popup__input:focus {
    border-bottom-color: #111111;
  }
  .popup__input:first-child {
    margin-bottom: 24px;
  }