.footer__copyright {
    font-size: 18px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;

}
@media screen and (max-width: 670px) {
.footer__copyright {
    width: 282px;
    margin: 0 auto;
    padding-bottom: 36px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;

    
     
}
}
@media screen and (max-width: 370px) {
    .footer__copyright {
         margin: 0;
         padding-bottom: 0;
    }
}